.add-button{
    height: 65px;
    width: 65px;
    font-size: 150%;
    border-radius: 50%;
    position: absolute;
    bottom: 25px;
    right: 25px;
    color: white;
    /* background-color: rgb(232, 143, 244); */
    background-color: var(--primary-color);
    border: 0.01px solid #00000020;
    box-shadow: 0px 0px 5px #00000068;
}