.hero-section {
    width: 100% !important;
    height: 100vh !important;
  }
  
  .state-banner {
    height: 40rem; /* 400px converted to REM */
    font-family: "Montserrat";
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    text-align: center;
    background-image: url(https://tourismmedia.italia.it/is/image/mitur/fallback-background?wid=2880&hei=1280&fit=constrain,1&fmt=webp);
  }
  
  .state-banner h1 {
    width: 70%;
    font-size: 4rem; /* 40px converted to REM */
    font-family: "Montserrat", sans-serif;
  }