.drop-down {
  padding: 2rem 3.5rem;
  border-bottom: 0.5rem;
  position: sticky;
  top: 9vh;
  z-index: 3;
  width: 100%;
  background-color: white;
  backdrop-filter: blur(0.75rem);
  background-color: #ffffffa0;
  border-bottom: 0.01rem solid rgba(128, 128, 128, 0.224);
}

.drop-down-title {
  font-family: "Jost";
  font-size: 2.8rem;
  margin-bottom: 0.2rem;
}

.drop-down-para {
  font-size: 1.9rem;
  font-family: "Jost";
  color: #5d646b;
  word-spacing: 0.1rem;
  font-weight: 350;
  color: black;
}

.drop-inner-section {
  margin-top: 3.5rem;
  display: flex;
  flex-wrap: wrap; /* Adjust for smaller screens */
}

.drop-inner-column {
  margin-left: 1.5rem;
  margin-right: 15rem;
  margin-bottom: 2rem; /* Add margin-bottom for spacing on small screens */
}

.drop-inner-column h3 {
  font-size: 2rem;
  color: #0058a5;
  margin-bottom: 1.8rem;
  margin-top: 1rem;
}

.drop-inner-column a {
  text-decoration: none;
  color: inherit;
}

.drop-inner-column a:hover {
  color: #0058a5;
}

.drop-content {
  margin-top: 0.5rem;
  display: flex;
  /* Adjust for smaller screens */
}

.drop-content h5 {
  font-family: "Jost";
  font-size: 1.8rem;
  font-weight: 400;
  color: #5d646bd3;
  color: #5d646b;
  color: black;
}

.drop-see-all {
  display: flex;
  align-items: center;
}

.close-drop {
  height: 3.8rem;
  width: 3.8rem;
  position: absolute;
  right: 2rem;
  top: 2rem;
  transition: all 0.3s ease;
}

@media screen and (max-width: 980px) {
  .drop-down {
    padding: 1.5rem 2rem;
    top: 5vh; /* Adjust top positioning for smaller screens */
  }

  .drop-down-title {
    font-size: 3.8rem;
  }

  .drop-content {
    align-items: center;
  }

  .drop-content h5 {
    font-family: "Jost";
  }

  .drop-down-para {
    font-size: 2.9rem;
    margin-top: 1%;
  }

  .drop-inner-section {
    flex-direction: column;
    margin-top: 2rem;
  }

  .drop-inner-column {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 1rem;
  }

  .drop-inner-column h3 {
    font-size: 2.9rem;
  }

  .drop-content h5 {
    font-size: 2.9rem;
  }

  .close-drop {
    border-radius: 50%;
    border: 0.1rem solid rgb(87, 80, 80);
  }
}

/* Responsive Adjustments */
@media screen and (max-width: 768px) {
  .drop-down {
    padding: 1.5rem 1.5rem;
    top: 5.6vh; /* Adjust top positioning for smaller screens */
  }

  .drop-down-title {
    font-size: 2.8rem;
    margin-top: 2%;
  }

  .drop-down-para {
    font-size: 1.9rem;
    margin-top: 1%;
  }

  .drop-inner-section {
    flex-direction: column;
    margin-top: 2rem;
  }

  .drop-inner-column {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 1rem;
  }

  .drop-inner-column h3 {
    font-size: 2rem;
  }

  .drop-content h5 {
    font-size: 1.9rem;
  }

  .close-drop {
    border-radius: 50%;
    border: 0.1rem solid rgb(87, 80, 80);
  }
}
