.sidebar{
    width: 20.25%;
    height: 100%;
    border-radius: 10px;
    border: 1.5px solid black;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sidebar-anchor{
    text-decoration: none;
}

.inside-sidebar{
    height: 98%;
    width: 94%;
    position: relative;
}

.inside-sidebar h1{
    font-family: "Jost",sans-serif;
}

.sidebar-title{
    margin-top: 5px;
    font-weight: 200;
    color: white;
}

.line{
    height: 0.5px;
    width: 93%;
    margin-top: 7px;
    margin-bottom: 15px;
    background-color: white;
}

.username{
    font-size: 270%;
}

.sidebar-footer{
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.sidebar-tile{
    height: 45px;
    width: 100%;
    font-size: large;
    margin-bottom: 10px;
    border-radius: 10px;
    font-family: 'Jost',sans-serif;
    background-color: white;
}

#logout{
    color: red;
}