*{
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


:root{
    --primary-color:#1c1c1c;
    --hover-color: red;
}

.jost {
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 2.4rem
}


html{
    scrollbar-width: none;
    scroll-behavior:smooth;
    font-size: 62.5%;
}

/* ::-webkit-scrollbar {
  width: 7px;
  border-radius: 5px;
} */

/* ::-webkit-scrollbar-track {
  background-image: url(sky.webp);
} */

/* ::-webkit-scrollbar-thumb {
  background-color: #968c8c5d;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #c770f0;
} */