.login-page {
  height: 100vh;
  width: 100vw;
  display: flex;
}

.right-section {
  height: 100%;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.right-section img{
    height: 100%;
    width: 100%;
    filter: brightness(100%);
}

.overlay{
    position: absolute;
    font-family: 'Jost',sans-serif;
    font-size: 40px;
    color: white;
    letter-spacing: 2px;
}

.overlay h1{
    font-weight: 400;
}

.left-section {
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-family: "Jost", sans-serif;
  background-color: whitesmoke;
}

.login-container {
  height: 65%;
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.login-container h2 {
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 2px;
    color: rgba(128, 128, 128, 0.826);
    margin: 0px;
  }

.login-container h1 {
  font-size: 50px;
  letter-spacing: 3px;
}

.login-input {
  width: 80%;
  margin-top: 15%;
  margin-bottom: 22%;
  font-size: larger;
  font-weight: 500;
  font-family: 'Roboto',sans-serif;
  color: rgb(97, 96, 96);
}

.custom-input {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #ccc; /* Line below input */
  padding: 12px 2px; /* Adjust padding as needed */
  font-size: 16px; /* Input text font size */
  width: 100%; /* Full width */
  outline: none; /* Remove default input outline */
  transition: all 0.4s ease-in-out;
}

.custom-input:focus{
    border-bottom: 2px solid var(--primary-color);
    font-size: 20px;
    padding: 12px 10px;
    padding-top: 15px; 
}

.login-button {
    color: white;
    padding: 10px 55px;
    font-size: medium;
    border-radius: 3px;
    border: 0.5px solid black;
    background-color: var(--primary-color);
  }
