.content {
  height: 52rem; /* 70px converted to REM */
  width: 38rem; /* 325px converted to REM */
  border-radius: 1rem; /* 10px converted to REM */
  border: 0.1rem solid rgba(72, 67, 67, 0.288);
  box-sizing: border-box;
  box-shadow: 0rem 0rem 1rem 0rem rgba(72, 67, 67, 0.288);
  transition: all 0.5s ease;
}

.content img {
  height: 72%;
  width: 100%;
  box-sizing: border-box;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  object-fit: cover;
}

.content:hover {
  transform: scale(1.05);
}

.content-name {
  font-family: "Montserrat";
  text-align: left;
  height: 28%;
  width: 100%;
  padding: 1rem 1.2rem;
}

.content-name h1 {
  font-size: 2.3rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  font-weight: 500;
}

.content-name p {
  text-align: start;
  color: #5d646b;
  height: 40%;
  width: calc(100% - 2rem);
  font-size: 1.3rem;
  overflow: hidden;
}

.content-name h3 {
  color: #5d646b;
  margin-top: 0.4rem;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
}

.location-on {
  font-size: 1.2rem;
}
