.tasks-section{
    height: 100%;
    width: 78.5%;
    border-radius: 10px;
    border: 1.5px solid black;
    background-color: var(--secondary-color);
    position: relative;
}

.loading{
    height: 90%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar{
    width: 20.25%;
    height: 100%;
    border-radius: 10px;
    border: 1.5px solid black;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sidebar-anchor{
    text-decoration: none;
}

.inside-sidebar{
    height: 98%;
    width: 94%;
    position: relative;
}

.inside-sidebar h1{
    font-family: "Jost",sans-serif;
}

.sidebar-title{
    margin-top: 5px;
    font-weight: 200;
    color: white;
}

.line{
    height: 0.5px;
    width: 93%;
    margin-top: 7px;
    margin-bottom: 15px;
    background-color: white;
}

.username{
    font-size: 280%;
    font-family: 'Jost',sans-serif;
    font-weight: 500;
}

.sidebar-footer{
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.sidebar-tile{
    height: 45px;
    width: 100%;
    font-size: large;
    margin-bottom: 10px;
    border-radius: 10px;
    font-family: 'Jost',sans-serif;
    background-color: white;
}

#logout{
    color: red;
}

.tasks-title{
    height: 8.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 8px;
    box-shadow: 0px 4px 5px #00000042;
    background-color: var(--primary-color);
}

.tasks-tiles{
    height: 89.5%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    scrollbar-width: none;
    box-sizing: content-box;
}

.tasks-title h1{
    color: white;
    font-family: "Jost", sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
}

.tasks-tile{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 80px;
    width: 98.5%;
    border-radius: 10px;
    border: 0.1px solid black;
    margin-bottom: 15px;
    padding: 0px;
    box-shadow: 0px 4px 4px #00000020;
    box-sizing: border-box;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
}

.tasks-tile h2{
    font-size: 30px;
    font-family: 'Jost',sans-serif;
    font-weight: 400;
    letter-spacing: 0.5px;
    color: var(--primary-color);
}

.tasks-tile-checked{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 80px;
    width: 98.5%;
    border-radius: 10px;
    border: 0.1px solid black;
    margin-bottom: 15px;
    padding: 0px;
    box-shadow: 0px 4px 4px #00000020;
    box-sizing: border-box;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: grey;
}

.tasks-tile-checked h2{
    font-size: 30px;
    font-family: 'Jost',sans-serif;
    font-weight: 400;
    letter-spacing: 0.5px;
    color: black;
    text-decoration: line-through;
}

.tile-title-checked{
    /* background-color: red; */
    width: 80%;
    /* margin-left: 13px; */
    text-align: start;
}

.tile-title-checked p{
    font-size: small;
    color: black;
    text-decoration: line-through;
}

.icon-task-section-checked{
    width: 10%;
    margin-right: 10px;
    padding-right: 48px;
    display: flex;
    align-items: center;
}

.icons-checked{
    height: fit-content;
    padding: 9px 9px;
    border: none;
    margin-left: 10px;
    color: var(--primary-color);
    display: flex;
    align-items: center;
    transition: all 0.3s ease;
    border-radius: 50%;
    background-color: grey;
}

.icons-checked:hover{
    background-color: var(--secondary-color);
}

.tile-title{
    /* background-color: red; */
    width: 80%;
    /* margin-left: 13px; */
    text-align: start;
}

.tile-title p{
    font-size: small;
    color: black;
}

.icon-task-section{
    width: 10%;
    margin-right: 10px;
    padding-right: 48px;
    display: flex;
    align-items: center;
}

.icons{
    height: fit-content;
    padding: 9px 9px;
    border: none;
    margin-left: 10px;
    color: var(--primary-color);
    display: flex;
    align-items: center;
    transition: all 0.3s ease;
    border-radius: 50%;
}

.icons:hover{
    background-color: var(--secondary-color);
}

.checkbox{
    margin-left: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-button{
    height: 65px;
    width: 65px;
    font-size: 150%;
    border-radius: 50%;
    position: absolute;
    bottom: 25px;
    right: 25px;
    color: white;
    background-color: var(--primary-color);
    border: 0.01px solid #00000020;
    box-shadow: 0px 0px 5px #00000068;
}

