.user-page {
  height: 94.5vh;
  width: 100vw;
  display: flex;
}

.right-section {
  height: 100%;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.right-section img {
  height: 100%;
  width: 100%;
}

.user-overlay {
  position: absolute;
  font-family: "Jost", sans-serif;
  color: white;
  letter-spacing: 0.2rem; /* 2px converted to rem */
}

.user-overlay h1 {
  font-weight: 400;
  font-size: 8rem; /* 70px converted to rem */
}

.left-section {
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-family: "Jost", sans-serif;
}

.user-container {
  height: 80%;
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.user-container h2 {
  font-size: 3.6rem; /* 36px converted to rem */
  font-weight: 400;
  letter-spacing: 0.2rem; /* 2px converted to rem */
  color: rgba(128, 128, 128, 0.826);
  margin-bottom: 1.5rem;
}

.user-container h1 {
  font-size: 5rem; /* 50px converted to rem */
  letter-spacing: 0.3rem; /* 3px converted to rem */
  margin-bottom: 2rem;
}

.user-container h3 {
  font-family: "Jost", sans-serif;
  font-size: 2.5rem; /* 25px converted to rem */
}

.pic {
  height: 15rem; /* 150px converted to rem */
  width: 15rem; /* 150px converted to rem */
  border-radius: 50%;
  margin-bottom: 10%;
}

@media (max-width: 1500px) {
  /* Adjust styles for tablets and smaller devices */
  .right-section {
    width: 100%;
    position: relative;
  }

  .user-overlay {
    display: none;
  }

  .left-section {
    position: absolute;
    width: 100%;
    padding: 0 2rem;
    justify-content: center;
    align-items: center;
    z-index: 2;
  }

  .user-overlay {
    font-size: 4.8rem; /* Adjusted for smaller screens */
    letter-spacing: 0.1rem; /* Adjusted for smaller screens */
    top: 5%;
    left: 5%;
  }

  .user-container {
    width: 40%;
    height: 75%;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.096);
    border-radius: 1.6rem; /* 16px converted to REM */
    box-shadow: 0 0.4rem 3rem rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(0.73rem); /* 6.3px converted to REM */
    -webkit-backdrop-filter: blur(0.63rem); /* 6.3px converted to REM */
    border: 0.1rem solid rgba(255, 255, 255, 0.3);
  }

  .user-container h2 {
    font-size: 3.5rem; /* Adjusted for smaller screens */
    letter-spacing: 0.1rem; /* Adjusted for smaller screens */
    color: #1c1678;
  }

  .user-container h1 {
    font-size: 4rem; /* Adjusted for smaller screens */
    letter-spacing: 0.2rem; /* Adjusted for smaller screens */
  }

  .user-container h3 {
    font-size: 2.5rem; /* Adjusted for smaller screens */
  }

  .pic {
    height: 12rem; /* Adjusted for smaller screens */
    width: 12rem; /* Adjusted for smaller screens */
    margin-bottom: 5%;
  }
}

@media (max-width: 980px) {
  .user-page {
    height: 95vh;
  }
  /* Adjust styles for tablets and smaller devices */
  .right-section {
    width: 100%;
    height: 100%;
    position: relative;
  }

  .user-overlay {
    display: none;
  }

  .left-section {
    position: absolute;
    width: 100%;
    padding: 0 2rem;
    justify-content: center;
    align-items: center;
    z-index: 2;
  }

  .user-overlay {
    font-size: 4.8rem; /* Adjusted for smaller screens */
    letter-spacing: 0.1rem; /* Adjusted for smaller screens */
    top: 5%;
    left: 5%;
  }

  .user-container {
    width: 50%;
    height: 50%;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.096);
    border-radius: 1.6rem; /* 16px converted to REM */
    box-shadow: 0 0.4rem 3rem rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(0.73rem); /* 6.3px converted to REM */
    -webkit-backdrop-filter: blur(0.63rem); /* 6.3px converted to REM */
    border: 0.1rem solid rgba(255, 255, 255, 0.3);
  }

  .user-container h2 {
    font-size: 4.5rem; /* Adjusted for smaller screens */
    letter-spacing: 0.1rem; /* Adjusted for smaller screens */
    color: #1c1678;
  }

  .user-container h1 {
    font-size: 6rem; /* Adjusted for smaller screens */
    letter-spacing: 0.2rem; /* Adjusted for smaller screens */
  }

  .user-container h3 {
    font-size: 3rem; /* Adjusted for smaller screens */
  }

  .pic {
    height: 16rem; /* Adjusted for smaller screens */
    width: 16rem; /* Adjusted for smaller screens */
    margin-bottom: 5%;
  }
}

@media (max-width: 768px) {
  .user-page {
    height: 94.5vh;
  }
  /* Adjust styles for tablets and smaller devices */
  .right-section {
    width: 100%;
    height: 100%;
    position: relative;
  }

  .user-overlay {
    display: none;
  }

  .left-section {
    position: absolute;
    width: 100%;
    padding: 0 2rem;
    justify-content: center;
    align-items: center;
    z-index: 2;
  }

  .user-overlay {
    font-size: 4.8rem; /* Adjusted for smaller screens */
    letter-spacing: 0.1rem; /* Adjusted for smaller screens */
    top: 5%;
    left: 5%;
  }

  .user-container {
    width: 85%;
    height: 55%;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.096);
    border-radius: 1.6rem; /* 16px converted to REM */
    box-shadow: 0 0.4rem 3rem rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(0.73rem); /* 6.3px converted to REM */
    -webkit-backdrop-filter: blur(0.63rem); /* 6.3px converted to REM */
    border: 0.1rem solid rgba(255, 255, 255, 0.3);
  }

  .user-container h2 {
    font-size: 3.7rem; /* Adjusted for smaller screens */
    letter-spacing: 0.1rem; /* Adjusted for smaller screens */
    color: #1c1678;
  }

  .user-container h1 {
    font-size: 4.5rem; /* Adjusted for smaller screens */
    letter-spacing: 0.2rem; /* Adjusted for smaller screens */
  }

  .user-container h3 {
    font-size: 2.7rem; /* Adjusted for smaller screens */
  }

  .pic {
    height: 10rem; /* Adjusted for smaller screens */
    width: 10rem; /* Adjusted for smaller screens */
    margin-bottom: 5%;
  }
}
