.footer-section {
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
    margin-top: 12%;
    background-color: #020b5a;
    padding-bottom: 2.5%;
}

.footer-inner-section {
  padding: 2% 3.5%;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 3rem;
  font-family: "Jost";
}

.footer-img {
  height: 50vh;
  width: 20vw;
  border-radius: 1.5rem;
  margin-right: 5%;
}

.footer-inner-column {
  width: 20vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.footer-inner-column h1 {
  font-size: 2.2rem;
  font-family: "Roboto";
  font-weight: 400;
}

.footer-inner-column a {
  margin-top: 2rem;
  font-size: 1.8rem;
  text-decoration: none;
  color: white;
}

.footer-inner-column a:hover {
  color: #0d6efd;
}

.social-media-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-media-section h1 {
  font-size: 1.8rem;
  font-size: "Jost";
  margin-bottom: 1.5rem;
  color: white;
}

.social-media-inner-section {
  display: flex;
  gap: 1rem;
}

.social-media-icon {
  height: 2rem;
  width: 2rem;
  background-size: cover;
}
